<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        <nav style="background-color: #fcddb1;" class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Improvify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" id='home' href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" id="practice" href="/practice">Practice</a>
                <a class="nav-item nav-link active" id="quizzes" href="#">Quizzes</a>
                <a class="nav-item nav-link active" id="profile" href="#">Profile</a>
              </div>
              <div  class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" id="login" href="#">Login</a>
                <a class="nav-item nav-link active" id="signup" href="#">Signup</a>
              </div>
            </div>
          </nav>

      <form id="main_form">
        <textarea id="user_input" name="user_input"></textarea>
        <select id = "langs" name="user_lang">
          <option value = "en-CA" selected="selected">English (Canada)</option>
          <option value = "en-US">English (United States)</option>
          <option value = "fr-CA">French (Canada)</option>
          <option value = "es-ES">Spanish (Spain)</option>
        </select>
        <button type="submit" id="start_pronounce">Start Pronounciation</button>
      </form>
      
      <button id="end_pronounce">End Pronounciation</button>
      <button id="evaluate">Evaluate Pronounciation</button>
      
      <div id="incorrectWords">

      </div>
      
      <select id='voiceList' value='Google US English' hidden></select> <br><br>

      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://apis.google.com/js/api.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
      <script src='./scripts/functionality.js'></script>
    </body>
</html>