<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/last.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/template.css">
    </head>

    <body>
        <nav style="background-color: #fcddb1; height: 10%" class="navbar navbar-expand-lg navbar-light">
            <a href="http://localhost:3000/">
              <img style='height: 100%; margin-left: -4%;' src="/img/logo2.png" width="150" height="100">
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" id="Adventures" href="/adventures">Adventures</a>
                </div>
              </div>
            </nav>


        <div id='container'>
            <div id='title'><%= adventure.name %></div>
            <div>Key Words:</div>
            <% adventure.words.forEach(function(word){ %>
                <div class="word"> <%= word %> </div>
            <% }) %>
            <br><br><br>
            Adventure to read:<br><br>
            <div id='paragraph'>
                <%= adventure.paragraph %>
            </div>

            <form id="main_form">
            <select id = "langs" name="user_lang" hidden>
                <option value = "en-CA" selected="selected">English (Canada)</option>
                <option value = "af-ZA">Afrikaans (South Africa)</option>
                <option value = "id-ID">Indonesian (Indonesia)</option>
                <option value = "ms-MY">Malay (Malaysia)</option>
                <option value = "ca-ES">Catalan (Spain)</option>
                <option value = "cs-CZ">Czech (Czech Republic)</option>
                <option value = "da-DK">Danish (Denmark)</option>
                <option value = "de-DE">German (Germany)</option>
                <option value = "en-US">English (United States)</option>
                <option value = "es-ES">Spanish (Spain)</option>
                <option value = "fil-PH">Filipino (Philippines)</option>
                <option value = "fr-CA">French (Canada)</option>
                <option value = "fr-FR">French (France)</option>
                <option value = "gl-ES">Galician (Spain)</option>
                <option value = "hr-HR">Croatian (Croatia)</option>
                <option value = "is-IS">Icelandic (Iceland)</option>
                <!-- <option value = "it-IT">Italian (Italy)</option> -->
                <option value = "jv-ID">Javanese (Indonesia)</option>
                <option value = "lv-LV">Latvian (Latvia)</option>
                <option value = "lt-LT">Lithuanian (Lithuania)</option>
                <option value = "hu-HU">Hungarian (Hungary)</option>
                <option value = "nl-NL">Dutch (Netherlands)</option>
                <option value = "nb-NO">Norwegian Bokmål (Norway)</option>
                <option value = "pl-PL">Polish (Poland)</option>
                <option value = "pt-BR">Portuguese (Brazil)</option>
                <option value = "pt-PT">Portuguese (Portugal)</option>
                <option value = "ro-RO">Romanian (Romania)</option>
                <option value = "sk-SK">Slovak (Slovakia)</option>
                <option value = "sl-SI">Slovenian (Slovenia)</option>
                <option value = "su-ID">Sundanese (Indonesia)</option>
                <option value = "sw-TZ">Swahili (Tanzania)</option>
                <option value = "sw-KE">Swahili (Kenya)</option>
                <option value = "fi-FI">Finnish (Finland)</option>
                <option value = "sv-SE">Swedish (Sweden)</option>
                <option value = "vi-VN">Vietnamese (Vietnam)</option>
                <option value = "tr-TR">Turkish (Turkey)</option>
            </select>
            <textarea id="user_input" name="user_input" hidden><%= adventure.paragraph %></textarea>
            <br>
            <h6 style="margin-bottom: 2%;">1. Click the Button Below to start recording</h6>
            <button type="submit" id="start_pronounce">Start Recording</button>
            </form>
            <h6 style="margin-bottom: 1.5%;">2. Stop recording by clicking the button below</h6>
            <button id="end_pronounce">End Recording</button>
            <h6 style="margin-top: 1.7%;">3. Happy with your attempt? Click the button below to see your results!</h6>
            <button id="evaluate">Evaluate Me!</button>
        </div>
        <div id="incorrectWords">

        </div>
        <select id='voiceList' value='Google US English' hidden></select> <br><br>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
        <script src='/scripts/functionality.js'></script>
    </body>
</html>