<html>
    <head>

    </head>

    <body>
        <div>
            <%= adventure.name %>
            <% adventure.words.forEach(function(word){ %>
                <div> +  + </div>
            <% }) %>
            <%= adventure.paragraph %>

        </div>

    </body>
</html>