.homepage .aboutImage{
    width: 50%;
    height: 100%;
    float: right;
}

#imageHolder {
    background-color: #6CC9D0;
    height: 85%;
    padding-left: 2%;
}

button {
    background-color: white;
    border: 1px #eafaff solid;
    border-radius: 5px;
}

.centered {
  position: absolute;
  font-family: 'Sriracha', cursive;
  font-size: 40px;
  width: 70%;
}
.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}
.copyrightSection p{
    margin-top: 0;
}

#user_input {
    width: 31%;
    height: 18%
}

h6 {
    font-size: 0.9 rem;
    margin-top: 0.5%;
}

#start_pronounce {
	box-shadow: 0 0 0 0 rgb(255, 255, 255);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media only screen and (max-width: 740px) {
    .aboutImage {
        display: none;
    }
}